{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="container my-1">
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to JBlog by Ritik Vishvakarma!</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      {% comment %} <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> {% endcomment %}
    </div>
  </div>
</div>
<div class="container my-3">
    <h2>Coding Articles by JBlog</h2>
    {% for post in allPosts  %}
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article  by {{post.author}}</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:500}}</p>
            <div class="my-2">
            	<a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">View details &raquo;</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}