{% extends 'base.html' %}
{% block title %} Home {% endblock title %}
{% block js %}
<script>
let previews =document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
    element.innerHTML = element.innerText
}) 
</script>
{% endblock js %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="container my-1">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Welcome to JBlog by Ritik Vishvakarma!</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            {% comment %}
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> {% endcomment %}
        </div>
    </div>
</div>
<div class="container">
    <h2>Popular BlogPosts:</h2>  
</div>

{% endblock body %}